{% extends 'account/base.html' %} {% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">update profile</h1>
      <p class="lead fw-normal text-white-50 mb-0">make the changes</p>
    </div>
  </div>
</header>
{% if user.is_authenticated %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 50vh;">
  <form action="" method="POST" class="w-50">
    {% csrf_token %}
    <h3 class="text-center">User Info</h3>
    {{ update_infoform.as_p }}
    <br>
    <h3 class="text-center">Shipping Info</h3>
    {{ shippingform.as_p }}
    <div class="text-center">
      <input type="submit" class="btn btn-primary" value="Submit">
    </div>
  </form>
</div>
{% endif %}

{% endblock %}
