{% extends 'account/base.html' %}
{% block content %}
<h3>unshipped items</h3>
{% if unshipped_products %}
<div class="d-flex justify-content-center" >
    <table class="table table-bordered" style="width: 50%">
      <thead class="table-dark">
        <tr>
          <th>Order Id</th>
          <th>Product</th>
          <th>Price</th>
          <th>shipping_address</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for item in unshipped_products %}
        <tr>
          <td>{{item.order.id}}</td>
          <td>{{item.product.p_name}}</td>
          <td>{{item.price}}</td>
          <td>{{item.order.shipping_address}}</td>
          <td>
            <form method="post" action="{% url 'update_shipped_status' item.id %}">
              {% csrf_token %}
              <button type="'submit" class="btn btn-success" >Mark as Shipped</button>
            </form>
          </td>        
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
{% endblock %}